<br>
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7 ">
        <img style="width: 400px;" src="<%= @offer.event.imageurl %>">
      </div>
      <div class="col-md-5">
        <ul class="list-group">
          <li class="list-group-item">Event: <%= @offer.event.name %></li>
          <li class="list-group-item">
            <form action="/offer/<%= @offer.id() %>" method="post">
              <input name="_method" type="hidden" value="patch">
              <label for="price">Price :</label>
              <input class="form-control" id="price" name="price" type="text" placeholder="<%= @offer.price() %>">
              <label for="ticket_type">Ticket Type :</label>
              <input class="form-control" id="ticket_type" name="ticket_type" type="text" placeholder="<%= @offer.ticket_type() %>">
              <label for="contact">Contact Info :</label>
              <input class="form-control" id="contact" name="contact" type="text" placeholder="<%= @offer.contact() %>">
              <button type="submit" class="btn">Update </button>
            </form>
          </li>
          <li class="list-group-item">
            <form action="/offer/<%= @offer.id() %>" method="post">
              <input name="_method" type="hidden" value="delete">
              <button type="submit" class="btn btn-danger">Delete </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
